<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--<add key="HostName" value="192.168.87.103" /> 更新代码合约修改FutureCode 和 FutureInfo   FutureHQ 三张表
    <add key="UserName" value="bond" />
    <add key="Password" value="bond" />-->
    <add key="SqlConnString" value="server=192.168.87.103;uid=sa;pwd=sa123;database=FutureTrade" />
    <add key="HQSqlConnString" value="server=10.28.7.43;uid=bond;pwd=bond;database=VirtualExchange" />
    <!--<add key="WorkQueueName" value="FutureOrderWork" />
    <add key="ReplyName" value="FutureReply_" />
    <add key="FutureHQExchangeName" value="CFE" />
    <add key="redis" value="192.168.9.145" />-->
  </appSettings>
</configuration>